// colors
@bg-color: #D2E4C8;
@button-hover-color: orange;
@black: black;
@white: white;

// dimensions
@content-height: 100%;
@content-width: 100%;
@page-nav-container-height: 50px;
@page-nav-container-width: 100%;
@page-nav-height: 20px;
@page-nav-width: 30px;

// stylings
html {
  height: @content-height;
  body {
    height: 100%;
    margin: 0;
  }

  main {
    width: @content-width;
    height: @content-height;
    #map {
      height: inherit;
      width: 66.6%;
      float: left;
    }
    #sidebar {
      height: 100%;
      width: 33.3%;
      background-color: @bg-color;
      float: right;
      #sidebar-items {
        span {
          padding-left: 10px;
          display: block;
          width: 100%;
          height: 25px;
          line-height: 25px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

.pageNavContainer {
  position: relative;
  width: 33%;
  height: 50px;
}

.button-wrapper {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.pageNav {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background: transparent;
  border: none !important;
  color: @black;
  font-size: 20px;
}

.pageNav:hover {
  background-color: @button-hover-color;
  color: @white;
}